 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="home">
        <i class="bi bi-grid"></i>
        <span>Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-globe"></i>
        <span>Hub Score</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-bell"></i>
        <span>Notificações</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-diagram-3"></i>
        <span>Terceiros</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/avaliacoes" >
        <i class="bi bi-card-list"></i>
        <span>Avaliações</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-shield-shaded"></i>
        <span>Padrões e Frameworks</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->
